* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    /*background*/
    background-color: seashell;

    /*Font imported font from google*/
    font-family: 'Lato', sans-serif;

    /*bold*/
    font-weight: 400;

    /*remove margins*/
    margin: 0;
    display: block;

    min-height: 2000px;
    padding-top: 70px;
}

nav {
    /*background*/
    /*background-color: #222222;*/
    background-color: rgba(1, 1, 1, 0.8);
    color: rgba(1, 1, 1, 0.8);

    /*The element is positioned relative to its first positioned (not static) ancestor element*/
    position: fixed;
    display: block;

    /*sixe*/

    /*heigth*/
    top: 0;
    min-height: 50px;

    /*width*/
    right: 0;
    left: 0;

    /*margin*/
    margin: 0;

    /*margin-bottom: 20px;*/
    /*float: left;*/
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.navbar-header {
    float: left;
}

.navbar-brand {
    float: left;
    /*height: 50px;*/
    padding: 5px 5px 2px;
}

.navbar-brand > a {
    display: block;
    line-height: 0;
}

.navbar-right {
    padding-left: 0;
    float: right;
    margin: 0;
    display: block;
    list-style: none initial initial;
}

/*a{*/
    /*text-decoration: none;*/
    /*position: relative;*/
    /*display: block;*/
    /*padding: 15px 15px;*/
    /*line-height: 20px;*/
    /*font-size: 14px;*/
/*}*/

li {
    position: relative;
    text-align: left;
    float: left;
    display: block;
    line-height: 20px;
    list-style: none outside none;
}

ul {
    display: block;
    margin: 0;
    padding-left: 0;
    line-height: 20px;
    list-style: none outside none;
    float: left;
}

header {
    /*background*/
    background-color: #F47D31;

    /*position*/
    display: block;
    margin: 0;
}

h1 {
    margin: 0;
}

.container:after, .container:before {
    display: table;
    content: " ";
}

.container:after {
    clear: both;
}


/*header:after, header:before {*/
    /*display: table;*/
    /*content: " ";*/
/*}*/

/*header:after {*/
    /*clear: both;*/
/*}*/

/*nav:after, nav:before {*/
    /*display: table;*/
    /*content: " ";*/
/*}*/

/*nav:after {*/
    /*clear: both;*/
/*}*/