/** {*/
    /*-webkit-box-sizing: border-box;*/
    /*-moz-box-sizing: border-box;*/
    /*box-sizing: border-box;*/
/*}*/

body {
    /*background*/
    background: seashell url(../imgs/red-pattern3.png);

    /*font*/
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #333;

    /*size*/
    min-height: 2000px;

    /*layout*/
    padding-top: 50px;
    margin: 0;
    display: block;
}

a {
    /*font*/
    color: #337ab7;
    text-decoration: none;
}

a:hover,
a:focus {
    /*font*/
    color: #23527c;
    text-decoration: underline;
}

ul {
    /*layout*/
    margin: 0;
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

.container {
    /*layout*/
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.container:after,
.container:before {
    display: table;
    content: " ";
}

.container:after {
    clear: both;
}

nav {
    /*background*/
    /*background-color: #222222;*/
    background-color: rgba(255, 255, 255, 1.0);

    /*The element is positioned relative to the browser page*/
    position: fixed;
    display: block;

    /*layout*/
    margin: 0;

    /*heigth*/
    top: 0;
    height: 50px;

    /*width*/
    right: 0;
    left: 0;
}

.navbar-header {
    /*layout*/
    float: left;
}

.navbar-brand-logo {
    /*layout*/
    float: left;
    padding: 5px 5px 2px;
}

.navbar-brand {
    /*font*/
    color: #777;
    font-size: 18px;
    text-decoration: none;

    /*layout*/
    padding: 15px 15px;
    line-height: 20px;
    float: left;
}

.navbar-header > a:hover,
.navbar-header > a:focus {
    /*font*/
    text-decoration: none;
    color: #999;
}

.navbar-right {
    /*styles*/
    list-style: none outside;

    /*layout*/
    margin: 0;
    padding-left: 0;
    float: right;
    display: block;
}

.navbar-right > li {
    /*layout*/
    float: left;
    display: block; /*?*/
    position: relative; /*?*/

    /*styles*/
    list-style-type: none;
}

.navbar-right > li > a {
    /*font*/
    color: #888;

    /*effects*/
    transition: all .25s ease;

    /*layout*/
    position: relative;
    display: block;
    padding: 15px 15px;
    line-height: 20px;
}

.navbar-right > li > a:hover,
.navbar-right > li > a:focus {
    /*font*/
    text-decoration: none;
    color: #000;

    /*background*/
    background-color: rgba(255, 255, 255, 0.8);
}

.navbar > li:hover > ul,
.navbar > li:focus > ul{
    /*layout*/
    display: block;
}

.navbar-dropdown {
    /*layout*/
    display: none;
    padding: 0;
    /*min-width: 160px;*/
}

.navbar-dropdown > li {
    /*layout*/
    float: none;
    display: block;
    position: relative;

    /*styles*/
    list-style-type: none;
}

.navbar-dropdown > li > a {
    /*font*/
    color: #888;

    /*effects*/
    transition: all .25s ease;

    /*layout*/
    position: relative;
    display: block;
    padding: 15px 15px;
    line-height: 20px;
}

.navbar-dropdown > li > a:hover {
    /*font*/
    text-decoration: none;
    color: #000;

    /*background*/
    background-color: rgba(255, 255, 255, 0.8);
}

header {
    /*background*/
    background: #b84d45 url(../imgs/header-bg.png);

    /*layout*/
    padding: 48px 60px;
    display: block;
    margin: 0;
}

h1 {
    /*position*/
    margin: 0;
}

/*header:after, header:before {*/
    /*display: table;*/
    /*content: " ";*/
/*}*/

/*header:after {*/
    /*clear: both;*/
/*}*/

/*nav:after, nav:before {*/
    /*display: table;*/
    /*content: " ";*/
/*}*/

/*nav:after {*/
    /*clear: both;*/
/*}*/